<p id="notice"><%= notice %></p>

<h1>All Contacts!</h1>

<div class="row">
    <% @contacts.each do |contact| %>
      <div class="col-md-4">
      <div class="well">
        <h4>
        <%= contact.first_name %>
        <%= contact.last_name %>
        </h4>
        <p>
        <%= image_tag contact.avatar.url(:thumb), alt: "Contact Pic" %>
        </p>
        <%= link_to 'Show', contact, class: "btn btn-info" %>
        <%= link_to 'Edit', edit_contact_path(contact), class: "btn btn-warning" %>
        <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
    <% end %>
</div>


<br>

<%= link_to 'New Contact', new_contact_path, class: "btn btn-info" %>
